<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>View posted jobs</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% load static %}
  <!-- Favicons -->
  <link href="{% static 'Admin_page/assets/img/favicon.png' %}" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'Admin_page/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'Admin_page/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'Admin_page/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'Admin_page/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'Admin_page/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'Admin_page/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'Admin_page/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'Admin_page/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    .sidebar .sidebar-nav .nav-link{
      background-color: rgb(4, 13, 44);;
      color: white;
    }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center" style="background-color: rgb(4, 13, 44);">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block" style="color:white;">Recruiter</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn" style="color:white;"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell" style="color:white;"></i>
            <span class="badge bg-primary badge-number">{{ application_count }}</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have {{ application_count }} new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-bell"></i>
              <div>
                {% csrf_token %}
                {% for requests in application_request %}
                <h4>{{ requests.fields.name}}</h4>
                <p>applied for the job : <b style="color:red;">{{ requests.fields.jobs }}</b></p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            {% endfor %}
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text" style="color:white;"></i>
            <span class="badge bg-danger badge-number">{{ comment_count }}</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have {{ comment_count }} new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% csrf_token %}
            {% for commentss in commments %}
            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                <div>
                  <h4 style="color:orangered;">{{ commentss.fields.fullName }}</h4>
                  <p>{{ commentss.fields.comment }}</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endfor %}
            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2" style="color:white;">{{ user }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="adminlogout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar" style="background-color: rgb(4, 13, 44);">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="adminPage">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Jobs</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a href="newjob" class="active">
              <i class="bi bi-circle"></i><span>Add new job</span>
            </a>
          </li>
          <li>
            <a href="viewjobs">
              <i class="bi bi-eye"></i><span>View posted jobs</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-heading">CANDIDATES</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="adminhome">
          <i class="bi bi-card-list"></i>
          <span>Shortlist candidates</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="viewapplicants">
          <i class="bi bi-eye"></i>
          <span>View Candidates</span>
        </a>
      </li><!-- End Login Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>POSTED JOBS</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Jobs</li>
          <li class="breadcrumb-item active">posted jobs</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row" style="box-shadow: 2px 2px 2px gray;padding-bottom:20px;">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Job ID</th>
              <th>Job name</th>
              <th>Date added</th>
              <th>Exeperience required</th>
              <th>Job Location</th>
            </tr>
        </thead>
          {% csrf_token %}
          <tbody>
            {% for instance in joboo %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ instance.fields.jobid }}</td>
            <td>{{ instance.fields.jobrole }}</td>
            <td>{{ instance.fields.jobdate }}</td>
            <td>{{ instance.fields.jobexp }}</td>
            <td>{{ instance.fields.joblocation }}</td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>AMU</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'Admin_page/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'Admin_page/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'Admin_page/assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'Admin_page/assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'Admin_page/assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'Admin_page/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'Admin_page/assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'Admin_page/assets/vendor/php-email-form/validate.js' %}"></script>

  <script src="{% static 'Admin_page/assets/js/main.js' %}"></script>

</body>

</html>